{% extends "base.html" %}
{% block content %}

<h2>Your Habits</h2>

{% if global_streak %}
  <p>🔥 Global Streak: {{ global_streak }} day{{ global_streak|pluralize }}</p>
{% endif %}

<ul>
  {% for habit in habits %}
    <li>
      <strong>{{ habit.name }}</strong> — {{ habit.done_today }}/{{ habit.target_per_day }} done today

      {% if habit.remaining_today %}
        | <a href="{% url 'complete_habit' habit.id %}">Mark as done</a>
      {% else %}
        | ✅ Completed for today
      {% endif %}

      {% if habit.done_today > 0 %}
        | <a href="{% url 'uncomplete_habit' habit.id %}">Undo</a>
      {% endif %}

      | <a href="{% url 'delete_habit' habit.id %}">Delete</a>

      {% if habit.streak > 1 %}
        | 🔥 Streak: {{ habit.streak }} day{{ habit.streak|pluralize }}
      {% endif %}
    </li>
  {% empty %}
    <li>No habits yet.</li>
  {% endfor %}
</ul>


<h3>Add a New Habit</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button name="add_habit" type="submit">Add Habit</button>
</form>

{% endblock %}
